.Dictionary {
    display: block;
    background-color: black;
}

.Dictionary .Dictionary-form {
    height: 40px;
}

.Dictionary .Dictionary-btn {
    height: 40px;
    background-color: #6ea70b;
    border: 1px solid #6ea70b;
    color: #fff;
}

.Dictionary .Dictionary-btn:hover {
    color: #fff;
    background-color: #546b33;
    border: 1px solid #546b33;
}

.Dictionary p {
    text-align: center;
}

.Dictionary .Dictionary-card {
    background-color: black;
    text-align: left;
}

.Dictionary .Dictionary-body button {
    background: none;
    border: none;
}

.Dictionary .Dictionary-body-icon {
    color: #6ea70b;
}
