.Dictionary .Dictionary-words-example {
    text-transform: lowercase;
    font-size: 15px;
}

.Dictionary .Dictionary-form {
    height: 50px;
    width: 50%;
    border: 1px solid #cbcbe1;
    border-radius: 4px;
}

.Dictionary .Dictionary-btn {
    height: 50px;
    width: 80px;
    background-color: #ff647f;;
    border: 1px solid #ff647f;;
    color: #fff;
}

.Dictionary .Dictionary-btn:hover {
    color: #fff;
    background-color: #e13b57;;
    border: 1px solid #e13b57;;
}

